* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#colors {
  display: flex;
  flex-direction: row;
}

#pontuation {
  display: flex;
}

.ball {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}

.chosen {
  border: 2px solid blue;
}

#score {
  margin-left: 10px;
}